@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css);
.header {
       width: 100%;
       height: auto;
       display: flex;
       justify-content: space-evenly;
       align-items: center;
       overflow: hidden;
       margin: 20px 0;
       z-index: 10;
       
       
     }

.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    height: 50px;
}
.nav a{
    text-decoration: none;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.nav a p{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color: black;
    margin:15px;   
    text-align: center;
    border-radius: 5px;
    
}
.active{
   background-color: rgb(206, 206, 206);
   border-radius: 15px;
   
  
}
  
.nav a p:hover{
    color: #aaaa2e;
}


.header img{
   width: 9rem;
   height: auto; 
   
}
span{
   color:#CBDB2C
}
.links a{
   font-size: 30px;
   color: rgb(19, 18, 18);
   margin: 25px 10px;
}
a:hover{
   color:#CBDB2C;
   cursor: pointer;
}
@media screen and (max-width: 600px) {
   .links a, .header h1{
       display: none;
   }
   .header{
       display: flex;
       flex-direction: column;
   }
   
   }